@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
$redhat: "Red Hat Display", sans-serif;

$header-height: 72px;
$text-size: 13px;

button:hover {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

a:hover {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.page-content {
  display: flex;
  width: auto;
  height: calc(100% - 72px);
}

.left-sidebar {
  height: 100%;
}

// GRID SETUP

.grid-container {
  display: grid;
  grid-template-columns: auto minmax(850px, 1400px) auto;
}

.grid-middle-content {
  padding: 0px 18px;
}
