@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
$redhat: "Red Hat Display", sans-serif;

:root {
  --max-splash-content-width: 1300px;
}

$header-height: 72px;
$text-size: 13px;

button:hover {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

// a:hover {
//   cursor: pointer;
//   transition: all 0.4s ease 0s;
// }

.page-content {
  display: flex;
  width: auto;
  height: calc(100% - 72px);
}

.left-sidebar {
  height: 100%;
}

a:-webkit-any-link {
  color: inherit;
}

.loader {
  position: absolute;
  background-color: goldenrod;
  left: 50%;
  top: 35%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  line-height: 1.5;
}
