:root {
}

$header-height: 72px;
$text-size: 13px;

// button {
//   color: black;
//   text-decoration: none;
//   background: white;
//   padding: 10px;
//   height: 36px;
//   width: 75px;
//   // border-radius: 50px;
//   display: inline-block;
//   border: none;
//   transition: all 0.4s ease 0s;
// }

button:hover {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

a:hover {
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.page-content {
  display: flex;
  width: auto;
  height: calc(100% - 72px);
}

.left-sidebar {
  height: 100%;
}
