header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 72px;
  padding: 5px 36px 12px 36px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
  width: 1400px;
  height: 72px;
}

header h1 {
  color: #191970;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: -0.8px;
}

.search-component {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  min-width: 300px;
}

.search-button {
  // organize
  display: flex;
  justify-content: left;
  align-items: center;
  // shape & design
  text-decoration: none;
  border-top-right-radius: 95px;
  border-bottom-right-radius: 95px;
  border: 1px lightgray solid;
  border-left-color: rgb(236, 235, 235);
  background-color: rgb(236, 235, 235);
  box-shadow: 0 1px 4px 0 rgb(242, 242, 242);
  //size
  width: 45px;
  height: 46px;
  margin: 20px 20px 20px 0px;
}

.search-bar {
  // organize
  display: flex;
  justify-content: left;
  align-items: center;
  // font
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: gray;
  letter-spacing: 1.3px;
  // shape & design
  border-top-left-radius: 95px;
  border-bottom-left-radius: 95px;
  border: 1px lightgray solid;
  background-color: rgb(236, 235, 235);
  border-right-color: rgb(236, 235, 235);
  box-shadow: 0 1px 4px 0 rgb(242, 242, 242);
  //size
  width: 955px;
  min-width: 200px;
  height: 26px;
  margin: 20px 0px 20px 20px;
  padding: 9px 0px 9px 18px;
}

.sign-in button {
  color: black;
  font-size: 15px;
  text-decoration: none;
  background: white;
  padding: 10px;
  height: 36px;
  width: 75px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.sign-in button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  // -webkit-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  // -moz-box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  background-color: rgba(236, 236, 236, 0.753);
}

// .nav-menu-trigger {
//   position: absolute;
//   background-color: black;
// }

// .dropdown-menu {
//   z-index: 2;
//   // position: absolute;
//   color: black;
//   background-color: red;
//   // text-decoration: none;
//   // border-radius: 25px;
//   // background-color: rgb(236, 235, 235);
//   // box-shadow: 4px 4px 4px 4px rgb(242, 242, 242);
//   // border: 1px lightgray solid;
// }
