@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
$redhat: "Red Hat Display", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$opensans400: "Open Sans", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
$opensans600: "Open Sans", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
$opensans300: "Open Sans", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
$opensans700: "Open Sans", sans-serif;

.login-form-container {
  display: flex;
  justify-content: flex-end;
  font-family: $opensans700;
  font-size: 13px;
  font-weight: 550;
}

.login-form-header h1 {
  font-size: 20px;
  font-weight: 900;
}

.login-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-top: 4px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.login-input {
  margin-left: 1px;
  height: 45px;
  margin-top: 3px;
  width: 273px;
  border: 1.5px solid lightgrey;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
}

.login-form-box {
  // outline: 1px solid black;
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 30px;
  width: 288px;
  height: 388px;
}

.register-button {
  border-radius: 25px;
  border: 2px solid #000000;
  color: black;
  text-decoration: none;
  background: white;
  // border-color: black;
  padding: 9px 9px 22px 9px;
  height: 36px;
  width: 75px;
  // border-radius: 50px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  text-align: center;
}

.register-button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  background-color: rgba(236, 236, 236, 0.753);
  transition: all 0.4s ease 0s;
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
}

.login-form label {
  padding-top: 10px;
}

.session-submit {
  width: auto;
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-radius: 50px;
  border: 0px;
  padding: 5px 0px 8px 0px;
  width: 283px;
  margin-top: 20px;
  height: 52px;
}

.session-submit:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  box-shadow: 0px 1px 0px 0px;
  transition: all 0.4s ease 0s;
}

.demo-submit {
  width: auto;
  background-color: rgba(236, 236, 236, 0.753);
  color: gray;
  font-family: $opensans300;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid lightgrey;
  padding: 5px 0px 8px 0px;
  width: 283px;
  margin-top: 9px;
  height: 52px;
}

.demo-submit:hover {
  background-color: rgba(22, 166, 22, 0.841);
  color: white;
  font-weight: 700;
  // border: 1px solid black;
  // text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
}

.errors-ul {
  min-height: 0px;
  height: auto;
  padding-top: 10px;
  margin-left: 22px;
  color: rgb(216, 5, 5);
  list-style-type: disc;
}
