.login-form-container {
  display: flex;
  justify-content: flex-end;
}

.login-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  // outline: 1px solid black;
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 30px;
}

.register-button {
  border-radius: 25px;
  border: 2px solid #000000;
  color: black;
  text-decoration: none;
  background: white;
  // border-color: black;
  padding: 10px;
  height: 36px;
  width: 75px;
  // border-radius: 50px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
