@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
$redhat: "Red Hat Display", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
$quatt: "Quattrocento", serif;

.splash-row-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spash-row-container {
  display: flex;
  justify-content: center;
}

.splash-row-container h3 {
  padding-left: 10px;
  font-weight: 600;
}

.splash-row-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-splash-content-width);
}

.splash-row-content {
  display: flex;
  width: 100%;
}

.product-splash-item {
  display: flex;
  flex-direction: column;
  max-width: 16.67%;
  flex-basis: 16.67%;
  flex-grow: 1;
  text-decoration: none;
  text-align: left;
}

.product-splash-item > * {
  padding: 10px;
  text-decoration: none;
}

.splash-image:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.splash-image {
  // max-width: 184px;
  max-width: 350px;
  // height: 146px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

.splash-item-details {
  padding: 5px;
  // width: 185px;
  color: black;
  text-decoration: none;
}

.splash-item-price {
  text-align: left;
  font-weight: 600;
  text-decoration: none;
}

.splash-item-name {
  font-family: $martel;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  padding-bottom: 3px;
}

.first-splash-row-content {
  text-align: center;
}

.grid-splash-content {
  // margin: 0px 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-splash-content h2 {
  padding: 0px 21px;
  text-align: center;
}

.splash-row-section {
  width: 95%;
  padding: 10px;
}

.banner-container {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
  position: relative;
  text-align: center;
  color: black;
  background-color: rgb(246, 217, 113);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.banner-container > h1 {
  margin-top: 25px;
  width: 100%;
  font-weight: 100;
  // z-index: 2;
}

.banner-container > h3 {
  margin-top: 7px;
  font-size: 18px;
  font-weight: 600;
}

.banner-links-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.banner-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
  max-width: var(--max-splash-content-width);
}

.banner-cat-li {
  display: flex;
  flex-direction: column;
}

.banner-cat-li > img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  flex-grow: 5;
  margin-bottom: 8px;
}

.banner-cat-li > p {
  flex-grow: 0;
  font-size: 14px;
  text-decoration: none;
}
