@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
$redhat: "Red Hat Display", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
$quatt: "Quattrocento", serif;

.splash-row-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spash-row-container {
  display: flex;
  justify-content: center;
}

.splash-row-container h1 {
  padding-left: 20px;
  font-weight: 600;
}

.splash-row-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.splash-row-content {
  display: flex;
  width: 100%;
  // margin: 0px 30px;
  // flex-wrap: wrap;
}

.product-splash-item {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // margin: 9px;
  // width: 195px;
  // height: 210px;

  max-width: 16.67%;
  flex-basis: 16.67%;
  flex-grow: 1;
  text-decoration: none;
  text-align: left;
}

.product-splash-item > * {
  padding: 10px;
}

.splash-image:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.splash-image {
  // width: 184px;
  // height: 146px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

.splash-item-details {
  padding: 5px 12px;
  // width: 185px;
  color: black;
  text-decoration: none;
}

.splash-item-price {
  text-align: left;
  font-weight: 600;
  text-decoration: none;
}

.splash-item-name {
  font-family: $martel;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  padding-bottom: 3px;
}

.first-splash-row-content {
  text-align: center;
}

.grid-splash-content {
  // margin: 0px 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-splash-content h2 {
  padding: 0px 21px;
  text-align: center;
}

.splash-row-section {
  width: 95%;
  padding: 10px;
}

.banner-container {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
  position: relative;
  text-align: center;
  color: black;
  z-index: -10;
  background-color: rgb(224, 234, 227);
  width: 100%;
}

#barc-text {
  position: absolute;
  top: 195px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: rgb(255, 255, 255);
  font-family: $quatt;
  font-size: 32px;
}

#shop-fathers {
  position: absolute;
  top: 235px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: rgba(255, 255, 255, 0.875);
  font-size: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(169, 169, 169);
}
