.grid-product-show-content {
  padding: 0px 32px;
  height: auto;
  display: flex;
  gap: 25px;
}

.grid-product-show-content h2 {
  padding: 0px 21px;
  text-align: center;
}

.product-show-photos {
  min-width: 535px;
  max-width: 800px;
  height: 700px;
}

.product-show-content-left {
}

.product-show-content-right {
}
