.cart-icon > * {
  text-decoration: none;
}

.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.checkout-content-container {
  display: flex;
  flex-direction: column;
}

.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
