.search-page-grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 350px));
  gap: 0.75em 0.25em;
}

.search-page-grid-container > .product-splash-item {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  flex-basis: 16.67%;
  flex-grow: 1;
  text-decoration: none;
  text-align: left;
}
