.footer-container {
  position: absolute;
  // bottom: 0px;
  width: 100%;
  margin-top: 50px;
}

.footer-subscribe {
  background-color: #d4e5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -11px;
  padding: 35px 15px;
}

.footer-links-grid-container {
  background-color: rgb(52, 70, 105);
  display: flex;
  justify-content: space-around;
}

.footer-bottom-container {
  padding: 24px 18px;
  background-color: rgb(35, 36, 69);
}

.footer-bottom {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
}

.footer-bottom-currency {
  flex-grow: 1;
  flex-basis: 41.67%;
  width: 100%;
}

.footer-bottom-currency > p {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.footer-bottom-currency > p:hover {
  cursor: pointer;
  border-radius: 20px;
  // background-color: rgb(45, 46, 87);
}

.footer-bottom-terms {
  flex-grow: 1;
  flex-basis: 58.33%;
  display: flex;
  justify-content: flex-end;
}

.footer-bottom-terms > li {
  cursor: pointer;
  text-decoration: underline;
  margin-right: 18px;
  color: white;
  font-size: 13px;
  font-weight: 300;
}

.footer-links {
  display: grid;
  padding: 36px 24px 24px 24px;
  width: 1400px;
}

.footer-links h2 {
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
}

.footer-links p,
.footer-links a {
  font-weight: 400;
  color: white;
  margin: 6px 0px;
  font-size: 0.8rem;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  .footer-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 799px) {
  .footer-links {
    grid-template-columns: 1fr;
    align-self: flex-start;
  }
  .footer-links > * {
    margin-bottom: 12px;
  }
}

#dl-pixsy {
  background-color: transparent;
  color: white;
  border: 1.5px solid white;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 8px 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.footer-links-social {
  display: flex;
  margin: 5px 5px 5px -8px;
}

.footer-links-social > * {
  border-radius: 10px;
  padding: 10px;
}

.footer-links-social > *:hover {
  background-color: rgb(84, 106, 149);
  transition: all 0.2s ease 0s;
}
