@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: Inter;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap");
$roboto: "Roboto Slab", serif;

@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap");
$martel: "Martel", serif;
